body {
    background-image: url(images/img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container {
    height: 1100px;
}

.smartuniverse {
    position: absolute;
    left: 38%;
    top: 11%;
    color: rgb(128, 173, 180);
    font-size: 380%;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 0px 11px 10px rgb(58, 58, 73);
}

.discord {
    position: absolute;
    left: 47%;
    top: 34%;
    color: rgb(234, 252, 252);
    font-size: 110%;
    font-style: oblique;
}

.about {
    position: absolute;
    left: 31%;
    top: 27%;
    color: rgb(234, 252, 252);
    font-size: 110%;
    font-style: oblique;
}

.dsword {
    color: rgb(107, 106, 124);
}

.jfxword {
    color: rgb(107, 106, 124);
}

.supp {
    position: absolute;
    left: 87%;
    top: 6%;
    color: rgb(234, 252, 252);
    font-size: 110%;
    font-style: oblique;
    box-shadow: 0 11px 10px rgb(58, 58, 73);
}

.prava {
    position: absolute;
    left: 80%;
    top: 115%;
    color: rgb(234, 252, 252);
    font-size: 110%;
    font-style: oblique;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(58, 58, 73);
}
